*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    height: calc(100vh - 60px);
    background-color: #001321;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
}

a:hover{
    color: #726EFF;
}

/*Header*/
header{
    position: fixed;
    width: 100%;
    z-index: 1000; /* Asegura que el navbar esté por encima de otros elementos */
    background-color: #001321 /* Fondo semi-transparente */
}

.navbar{
    max-width: 1200px;
    margin-right: 25px;
    margin-left: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Espaciado entre logo y links */
    padding-bottom: 10px;
}

.navbar .logo img{
    height: 4.5rem;
}

.navbar .links{
    display: flex;
    gap: 2rem;
}

.navbar .toggle_btn{
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

/*Menu desplegable*/
.dropdown_menu{
    display: none;
    position: absolute;
    right: 2rem;
    top: 80px;
    height: 0;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open{
    height: 140px;
}

.dropdown_menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}



/*responsive*/
@media (max-width:720px){
    .navbar .links{
        display: none;
    }

    .navbar .toggle_btn{
        display: block;
    }

    .dropdown_menu{
        display: block;
    }
}


@media (max-width:576px){
    .dropdown_menu{
        left: 2rem;
        width: unset;
    }
}